
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar and Sale Banner</title>
    <link rel="stylesheet" href="~/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
    </style>
</head>
<body>

    <div class="sale-banner">
        Sale For All Labtops And Free Express Delivery - OFF 50% <a href="#" style="color:white; text-decoration: underline;margin-left: 10px;">Shop Now</a>
        <div class="language-dropdown">
            <div class="dropdown" style="position: fixed;">
                <button class="btn btn-sm dropdown-toggle" type="button" id="languageDropdownButton" data-bs-toggle="dropdown" aria-expanded="false" style="color: white;">
                    English
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="languageDropdownButton">
                    <li><a class="dropdown-item" href="#">English</a></li>
                    <li><a class="dropdown-item" href="#">French</a></li>
                    <li><a class="dropdown-item" href="#">Arabic</a></li>
                </ul>
            </div>
        </div>

        <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
            <div class="container">
                <a class="navbar-brand" href="#">Tech Express</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sign Up</a>
                        </li>
                    </ul>

                    <div class="d-flex search-bar" style="margin-right: -40px;">
                        <input class="form-control me-2 search-input searchBox" type="search" placeholder="What are you looking for?" aria-label="Search">
                        <button class="search-button" type="submit" style="z-index: 500;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                            </svg>
                        </button>
                    </div>
                    <!--like-->
                    <div class="navbar-icons " style="margin-left: 50px;">
                        <a href="#" class="likey" style="margin: auto 5px;">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15" />
                            </svg>
                        </a>
                        <!--cart-->
                        <a href="#" class="carty">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart-fill" viewBox="0 0 16 16">
                                <path d="M11.5 4v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4zM8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1m0 6.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132" />
                            </svg>
                        </a>
                        <div class="user-icon-dropdown">
                            <button class="user-icon-button" id="userDropdownButton" aria-expanded="false" data-bs-toggle="dropdown" aria-label="User Account">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" width="1em" height="1em" fill="currentColor" class="user-svg">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 6.468 2.37A7 7 0 0 0 8 1z" />
                                </svg>

                            </button>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdownButton">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person me-2" viewBox="0 0 16 16">
                                            <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0Zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4Zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10Z" />
                                        </svg>
                                        Manage My Account
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag me-2" viewBox="0 0 16 16">
                                            <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
                                        </svg>
                                        My Order
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg me-2" viewBox="0 0 16 16">
                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z" />
                                        </svg>
                                        My Cancellations
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star me-2" viewBox="0 0 16 16">
                                            <path d="M3.612 15.443c-.386.198-.824-.006-.824-.562l.093-5.45-3.562-3.44c-.783-.754-.103-2.053.587-2.325l5.45-.619 2.165-4.992c.252-.609 1.242-.609 1.495 0l2.165 4.992 5.45.619c.69.273 1.37.9 1.11.562l-.288-5.45L15.17 6.44c.783.754.103 2.053-.587 2.325l-5.45.619-2.165 4.992c-.252.609-1.242.609-1.495 0l-2.165-4.992-5.45-.619c-.69-.273-1.37-.9-1.11-.562L3.612 15.443z" />
                                        </svg>
                                        My Reviews
                                    </a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left me-2" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 0-.5.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5.5zM3 8a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6A.5.5 0 0 1 3 8zm7-7.5a1.5 1.5 0 0 1 3 0v13a1.5 1.5 0 0 1-3 0v-13z" />
                                        </svg>
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>

        <footer class="footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 footer-section">
                        <h6 class="footer-title">Tech Express</h6>
                        <p class="footer-contact-info">About us</p>
                        <p class="footer-contact-info">Get 10% off your first order</p>
                        <!-- <div class="subscribe-form">
                            <input type="email" class="subscribe-input" placeholder="Enter your email">
                            <button class="subscribe-button">></button>
                        </div> -->
                    </div>
                    <div class="col-lg-3 col-md-6 footer-section">
                        <h6 class="footer-title">Support</h6>
                        <p class="footer-contact-info">111 Bijoy sarani, Dhaka, DH 1515, Bangladesh.</p>
                        <p class="footer-contact-info">exclusive@gmail.com</p>
                        <p class="footer-contact-info">+88015-88888-9999</p>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-section">
                        <h6 class="footer-title">Account</h6>
                        <ul class="footer-list">
                            <li><a href="#">My Account</a></li>
                            <li><a href="#">Login / Register</a></li>
                            <li><a href="#">Cart</a></li>
                            <li><a href="#">Wishlist</a></li>
                            <li><a href="#">Shop</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-2 col-md-6 footer-section">
                        <h6 class="footer-title">Quick Link</h6>
                        <ul class="footer-list">
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms Of Use</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
        </footer>
</body>
</html>
