.product-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease;
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.product-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.img-wrapper {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 8px;
    margin-top:-20px;
    margin-bottom: 10px;
    position: relative;
}

.img-wrapper img {
    max-width: 100%;
    max-height: 90%;
    object-fit: contain;
}

.product-info {
    text-align: center;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.add-to-cart {
    background-color: black;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    width:100%;
}

.img-wrapper:hover .add-to-cart {
    opacity: 1;
}

.product-title {
    font-size: 1rem;
    margin-bottom: 5px;
    color: #333;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(245, 65, 65);
    margin-bottom: 10px;
}

.small-text {
    font-size: 0.7rem;
    color: #888;
    text-decoration: line-through;
}

.discount {
    background-color: #dc3545;
    color: white;
    padding: 0.2rem 0.5rem;
    border-radius: 4px;
    font-size: 0.8rem;
    margin-left:-10px;
    position: absolute; 
    top: 10px;
    left: 10px;
    z-index: 2;
}


.eye-icon {
    position:absolute;
    top:25px;
    
    right:5px;
 
    color: black;
    cursor: pointer;
}

.del-icon {
    position: absolute;
    top: 25px;
    right: 30px;
    color: #888;
    cursor: pointer;
    color: black;
}

.product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.product-title {
    width: 100%;
}

.product-price {
    width: 100%;
    text-align: center;
}
.wishlist-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.wishlist-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;

}

.move-all-to-bag {
    background-color: #f5f5f5;
    color: #333;
    border: 1px solid #ddd;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 0.9rem;
}

.move-all-to-bag:hover {
    background-color: #e0e0e0;
}
.section-title {
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section-title span{
    cursor: pointer;
}
.just{
    color: black;
    font-size:larger;

}